{% extends 'student/student_layout.html' %}
{% load static %}
{% block content %}


 <div class="container-fluid mt-3">
          <!--  -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="active-member">
                                     
                                        <table class="table">
                                                                        
                                   <tr>
                                      <th>Name</th>
                                      <td>{{stud.name}}</td>
                                    </tr>
                                    <tr>
                                      <th>Address</th>
                                      <td>{{stud.address}}</td>
                                    </tr>
                                    <tr>
                                      <th>Mobile Number</th>
                                      <td>{{stud.phoneno}}</td>
                                    </tr>
                                    <tr>
                                      <th>Gender</th>
                                      <td>{{stud.gender}}</td>
                                    </tr>
                                    <tr>
                                      <th>Email Id</th>
                                      <td>{{stud.emailid}}</td>
                                    </tr>
                                    <tr>
                                      <th>Date of Birth</th>
                                      <td>{{stud.dob|date:"d-m-Y"}}</td>
                                    </tr>
                                    <tr>
                                      <th>Date of Joining</th>
                                      <td>{{stud.doj|date:"d-m-Y"}}</td>
                                    </tr>
                                    <tr>
                                        <td><a class="btn btn-info" href="{% url 'edit_profile' %}">Edit</a></td>
                                    </tr>

                                </table>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>

                <!--  -->

                

                <div class="row">
                
                    </div>
            </div>
            
            
    
            {% endblock %}