{% extends 'master_dashboard/master_layout.html' %}
{% load static %}
{% block content %}


 <div class="container-fluid mt-3">
          <!--  -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="active-member">
                                    <div class="table-responsive"><h5>FEEDBACK</h5></div>
                                        <table class="table table-xs mb-0">
                                            <thead>
                                                <tr>
                                                    <th>NAME</th>
                                                    <th>PHONE NO</th>
                                                    <th>SUBJECT</th>
                                                    <th>MESSAGE</th>  
     
   <th>SENDER</th>  
   <th>DATE</th>  
      
  </tr> 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for f in flist %}
                                                <tr>
                                                    <td>{{f.name}}</td>
                                                    <td>{{f.phoneno}}</td>
                                                    <td>{{f.subject }}</td>
                                                    <td>{{f.message}}</td>
                                                    <td>{{f.sender}}</td>
                                                    <td>{{f.date|date:'d-m-Y'}}</td>
                                                    

                                                        <!-- <td>{{i.image}}
                                                     </td> -->
                                                    
                                                   
                                                </tr>
                                                
                                                {% endfor %}    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>

                <!--  -->

                

                <div class="row">
                
                    </div>
            </div>
            
            
    
            {% endblock %}