	
	{% load static %}
	{% block content %}
<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Martial art, any of various fighting sports or skills</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Karate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="{% static 'home/css/bootstrap.css'  %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'home/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'home/css/flexslider.css' %}" type="text/css" media="screen" property="" />
<!-- js -->
<script type="text/javascript" src="{% static 'home/js/jquery-2.1.4.min.js' %}"></script>
<!-- //js -->
<!-- font-awesome-icons -->
<link href="{% static 'home/css/font-awesome.css' %}" rel="stylesheet"> 
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Shadows+Into+Light+Two&amp;subset=latin-ext" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Karla:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
</head>
	
<body>
<!-- banner -->
	<div class="banner">
		<div class="container">	
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="index.html"><span><i>M</i>artial Arts</span></a></h1>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="menu menu--juliet">
						<ul class="nav navbar-nav">
							<li class="menu__item menu__item--current"><a href="{% url 'home' %}" class="menu__link">Home</a></li>
							<li class="menu__item"><a href="{% url 'about' %}" class="menu__link">About</a></li>
							
							<li class="menu__item"><a href="{% url 'register' %}" class="menu__link">Register</a></li>
							<li class="menu__item"><a href="{% url 'login' %}" class="menu__link">Login</a></li>
							
							
						</ul>
						<div class="agileinfo_social_icons">
							<ul class="agileits_social_list">
								<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</nav>
				</div>
			</nav>
			<div class="w3_agile_banner_info">
				<section class="slider">
					<div class="about">
		<div class="container">
			<div class="col-md-6 agileits_about_grid_left">
				
			</div>
			<div class="col-md-6 agileits_about_grid_right">
				<h3>about <span>Martial Arts</span></h3>
				<h4>any of various fighting sports or skills</h4>
				<p><i>Martial art, any of various fighting sports or skills, mainly of East Asian origin, such as kung fu (Pinyin gongfu), judo, karate, and kendō.</i> Martial arts can be divided into the armed and unarmed arts. The former include archery, spearmanship, and swordsmanship; the latter, which originated in China, emphasize striking with the feet and hands or grappling. In Japan, traditionally a warrior’s training emphasized archery, swordsmanship, unarmed combat, and swimming in armour. Members of other classes interested in combat concentrated on arts using the staff, everyday work implements (such as thrashing flails, sickles, and knives), and unarmed combat. Perhaps the most versatile practice was ninjutsu, which was developed for military spies in feudal Japan and also included training in disguise, escape, concealment, geography, meteorology, medicine, and explosives. </p>
				<p>In modern times, derivatives of some of the armed martial arts, such as kendō (fencing) and kyūdō (archery), are practiced as sports. Derivatives of the unarmed forms of combat, such as judo, sumo, karate, and tae kwon do, are practiced, as are self-defense forms, such as aikido, hapkido, and kung fu. Simplified forms of tai chi chuan (taijiquan), a Chinese form of unarmed combat, are popular as healthful exercise, quite divorced from martial origins. Derivatives of many of the armed and unarmed forms are practiced as a means of spiritual development.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
				</section>			
			</div>
		</div>
	</div>

<!-- //banner -->
<!-- banner-bottom -->
	<div class="banner-bottom">
		<!--  -->
	</div>
<!-- //banner-bottom -->
<!-- about -->
	
		
	</div>

<!-- footer -->
	<div class="footer">
		<div class="container">
			
			<div class="col-md-4 agile_footer_grid">
				<h3>Latest News</h3>
				<ul class="agileits_w3layouts_footer_grid_list">
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Donec purus neque, vulputate 
							id est id</a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Nullam fringilla sed quam vitae congue</a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Cras libero arcu, accumsan ac viverra vel</a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Aenean porttitor accumsan tincidunt ut</a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Nullam sed turpis gravida auctor</a>
					</li>
				</ul>
			</div>
			<div class="col-md-4 agile_footer_grid">
				<h3>Contact Info</h3>
				<ul class="w3_address">
					<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1234k Avenue, 4th block, <span>New York City.</span></li>
					<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
					<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			<div class="w3_agileits_footer_grids">
				<div class="col-md-4 wthree_footer_grid_left">
				</div>
				<!--  -->
				<div class="clearfix"> </div>
			</div>
			<div class="agileinfo_copyright">
				<p>© 2024 Martial Arts. All rights reserved | Martial Arts</a></p>
			</div>
		</div>
	</div>

<!-- //bootstrap-pop-up -->
<!-- flexSlider -->
	<script defer src="{% static 'home/js/jquery.flexslider.js' %}"></script>
	<script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
  </script>
<!-- //flexSlider -->
<!-- flexisel -->
		<script type="text/javascript">
		$(window).load(function() {
			$("#flexiselDemo1").flexisel({
				visibleItems: 4,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,    		
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: { 
					portrait: { 
						changePoint:480,
						visibleItems: 1
					}, 
					landscape: { 
						changePoint:640,
						visibleItems:2
					},
					tablet: { 
						changePoint:768,
						visibleItems: 2
					}
				}
			});
			
		});
	</script>
	<script type="text/javascript" src="{% static 'home/js/jquery.flexisel.js' %}"></script>
<!-- //flexisel -->
<!-- for bootstrap working -->
	<script src="{% static 'home/js/bootstrap.js' %}"></script>
<!-- //for bootstrap working -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'home/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>
{% endblock  %}