	{% load static %}
	<!DOCTYPE html>
<html lang="en">
<head>
<title>Martial art, any of various fighting sports or skills</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Karate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="{% static 'home/css/bootstrap.css'  %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'home/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'home/css/flexslider.css' %}" type="text/css" media="screen" property="" />
<!-- js -->
<script type="text/javascript" src="{% static 'home/js/jquery-2.1.4.min.js' %}"></script>
<!-- //js -->
<!-- font-awesome-icons -->
<link href="{% static 'home/css/font-awesome.css' %}" rel="stylesheet"> 
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Shadows+Into+Light+Two&amp;subset=latin-ext" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Karla:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
</head>
	
<body>
<!-- banner -->
	<div class="banner">
		<div class="container">	
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="index.html"><span><i>M</i>artial Arts</span></a></h1>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="menu menu--juliet">
						<ul class="nav navbar-nav">
							<li class="menu__item menu__item--current"><a href="index.html" class="menu__link">Home</a></li>
							<li class="menu__item"><a href="{% url 'about' %}" class="menu__link">About</a></li>
							<li class="menu__item"><a href="gallery.html" class="menu__link">Gallery</a></li>
							<li class="menu__item"><a href="{% url 'register' %}" class="menu__link">Register</a></li>
							<li class="menu__item"><a href="{% url 'login' %}" class="menu__link">Login</a></li>
							<!-- <li class="dropdown menu__item">
								<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown">Short Codes <b class="caret"></b></a>
								<ul class="dropdown-menu agile_short_dropdown">
									<li><a href="icons.html">Web Icons</a></li>
									<li><a href="typography.html">Typography</a></li>
								</ul>
							</li> -->
							<li class="menu__item"><a href="mail.html" class="menu__link">Mail Us</a></li>
						</ul>
						<!-- <div class="agileinfo_social_icons">
							<ul class="agileits_social_list">
								<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							</ul>
						</div> -->
					</nav>
				</div>
			</nav>
			<!-- <div class="w3_agile_banner_info">
				<section class="slider">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="agile_banner_info_grid">
									<p>01.</p>
									<div class="">
										<h6><p><span>Martial art</span>is any form of fighting and an art that has a set way of practice.</p></h6>
									</div>
								</div>
							</li>
							<li>
								<div class="agile_banner_info_grid">
									<p>02.</p>
									<div class="agile_banner_info_grid_pos">
										<h6><p><span>Martial arts</span> can be divided into the armed and unarmed arts.</p></h6>
									
								</div>
							</li>
							<li>
								<div class="agile_banner_info_grid">
									<p>03.</p>
									
										<h6><p><span>Martal Arts</span> any of various fighting sports or skills</p></h6>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</section>			
			</div> -->
		</div>
	</div>
			
			</html>