{% extends 'admin/admin_layout.html' %}
{% load static %}
{% block content %}


 <div class="container-fluid mt-3">
          <!--  -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="active-member">
                                    <div class="table-responsive"><a class="btn btn-primary" href="{% url 'add_packages' %}">create new</a> 
                                        <table class="table table-xs mb-0">
                                            <thead>
                                                <tr>
                                                    <th>PACKAGE TITLE</th>
                                                    <th>ARTS NAME</th>  
     
   <th>DURATION</th>  
   <th>COST</th>  
     
  <th>ACTIONS</th> </tr> 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for p in p_list %}
                                                <tr>
                                                    <td>{{p.package_title }}</td>
                                                    <td>{{p.artsname}}</td>
                                                    <td>{{p.duration}}</td>
                                                    <td>{{p.cost}}</td>
                                                    

                                                        <!-- <td>{{i.image}}
                                                     </td> -->
                                                    
                                                   <td> <a href="{% url 'delete_package' p.packgeid %}" class="btn btn-danger btn-sm">Delete</a>
                        
                         <a href="{% url 'schedule' p.packgeid %}" class="btn btn-primary btn-sm">Schedule</a>
                        </td>
                                                </tr>
                                                
                                                {% endfor %}    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>

                <!--  -->

                

                <div class="row">
                
                    </div>
            </div>
            
            
    
            {% endblock %}