{% extends 'admin/admin_layout.html' %}
{% load static %}
{% block content %}


 <div class="container-fluid mt-3">
          <!--  -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="active-member">
                                    <div class="table-responsive"><h5>VIDEOS</h5></div>
                                        <table  border="1">
                                            <thead>
                                                <tr class="text-center">
                                                    <th>TITLE</th>
                                                    <th>DESCRIPTION</th>  
     
   <th>ARTS NAME</th>  
   <th>MASTER</th>  
   <th>VIDEO</th> 
   <th>ACTIONS</th>   
  </tr> 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for v in vlist %}
                                    <tr>
                                        <td>{{ v.title }}</td>
                                        <td>{{ v.description }}</td>
                                        <td>{{ v.artsname }}</td>
                                        <td>{{ v.full_name }}</td>
                                        <td>
                                        <iframe width="250" height="200" src="{{ v.video_url }}" frameborder="0" allowfullscreen></iframe></td>
                                    <td><a href="{% url 'delete_video' v.tips_id %}" class="btn btn-danger btn-sm">Delete</a></td>

                                        
                                    </tr>
                                    {% endfor %}  
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>

                <!--  -->

                

                <div class="row">
                
                    </div>
            </div>
            
            
    
            {% endblock %}